{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Annuaire Client{% endblock %}
{% block nav %}
            <a href="index.php?action=deconnexion"><i class="fa fa-power-off"></i></a>
{% endblock %}
{% block content %}
{% for client in clients %}
<div class="container mt-4">
    <!-- contacts card -->

    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                     
                            <a href="/?action=deleteClient&amp;id={{ client.id }}" class="delete" 
                                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contact?');" ><span class="fa fa-trash fa-2x text-success float-right pulse" color="red" title="online now"></span></a>
                            
                            <span class="text-muted small text-truncate"><strong>Nom:</strong> {{ client.nom }}</span>
                            <br>
                            <span class="text-muted small text-truncate"><strong>Prenom:</strong> {{ client.prenom }}</span>
                            <br>
                            <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>
                            <span class="text-muted">{{ client.zip }}</span>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>
                            <span class="text-muted small">{{ client.contact }}</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">{{ client.mail }}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}