{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - détail-Ticket{% endblock %}

{% block content %}     
<div class="container-fluid">
  <div class="row">   
  <div class="col-lg-2" id="bandeau">
      <div id="list-example" class="list-group mt-5">
          <a class="list-group-item list-group-item-action" href="#list-item-1">dossier</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Contact</a>
          
           <a class="list-group-item list-group-item-action" href="#listClients.html.twig" data-toggle="modal" data-target=".bd-example-modal-xl">Liste clients</a>
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  {% block contentClient %}{% include "listClients.html.twig" %}{% endblock %}
                </div>
              </div>
            </div>
          <a class="list-group-item list-group-item-action" href="#sectionNote">Notes</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">Résolution</a>
      </div>
    </div>  



      <div class="col-lg-9 mt-5">
     <div class="form-row">
        <div class="col-md-4 mb-3">
            Numéro d'incident : <strong>{{ ticket.id }}</strong>
        </div>
    </div>
          <form class="needs-validation" method="post" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Numéro Client</label>
                    <input type="text" class="form-control" id="numeroClient"  name="numeroClient" value="{{ ticket.titre }}" required>
                      <div class="invalid-tooltip">
                        Saisir le numéro de client.
                      </div>
                </div>

              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{ ticket.nom }}" required>
                  <div class="invalid-tooltip">
                    Saisir l'utilisateur.
                  </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Prenom</label>
                <input type="text" class="form-control" id="prenom"  name="prenom" value="{{ ticket.prenom }}" required>
                  <div class="invalid-tooltip">
                    Saisir le Prenom.
                  </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">Mail</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                      </div>
                    <input type="text" class="form-control" id="mail"
                      aria-describedby="validationTooltipUsernamePrepend"  name="mail" value="{{ ticket.mail }}" required>
                      <div class="invalid-tooltip">
                        Saisir l'adresse mail utilisateur.
                      </div>
                  </div>
              </div>

              <div class="col-md-4 mb-3">
                    <label for="validationTooltip03">Ville</label>
                    <input type="text" class="form-control" id="ville"  name="ville" value="{{ ticket.ville }}" required>
                      <div class="invalid-tooltip">
                        Saisir une Ville.
                      </div>
              </div>

              <div class="col-md-3 mb-3">
                  <label for="validationTooltip05">Zip</label>
                  <input type="text" class="form-control" id="zip"  name="zip" value="{{ ticket.zip }}" required>
                    <div class="invalid-tooltip">
                      Saisir code postal.
                    </div>
              </div>

              <div class="col-md-3 mb-3">
                  <label for="validationTooltip05">Contact</label>
                  <input type="text" class="form-control" id="contact"  name="contact" value="{{ ticket.contact }}" required>
                    <div class="invalid-tooltip">
                      Saisir le contact.
                    </div>
                </div>

                <div class="form-group col-md-3 mb-3">
                  <label for="exampleFormControlSelect1">Priorité</label>
                    <select class="form-control" id="priorite"  name="priorite" value="{{ ticket.priorite }}" >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>

                <div class="form-group col-md-3 mb-3 ml-5">
                  <label for="exampleFormControlSelect1">Catégorie</label>
                  <select class="form-control" id="categorie"  name="categorie" value="{{ ticket.categorie }}">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>

            </div>

            

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Titre</label>
                  <input type="text" class="form-control" id="titre"  name="titre" value="{{ ticket.titre }}" required>
                    <div class="invalid-tooltip">
                      Saisir le titre.
                    </div>
              </div>
            </div> 

            <div class="form-row">
                <div class="col-md-10  mb-0">
                  <label for="validationTextarea"></label>
                  <textarea class="form-control" id="contenu"  name="contenu" rows="6" value="" placeholder=""
                    required>{{ ticket.contenu }}</textarea>
                    <div class="invalid-feedback">
                      Saisir l'incident.
                    </div>
                </div>
                <div class="form-group col-md-5 mb-4 ">
                  <label for="exampleFormControlFile1">Pièce jointe</label>
                  <input type="file" class="form-control-file" id="document"  name="document" value="">
                </div>
            </div> 
            
            <div class="form-row">
                <div class="col-md-4  mb-0">
                  <p><button class="btn btn-primary" type="submit">Enregistrer</button></p>
                </div>

                <div class="col-md-4  mb-0">
                  <div for="proprietaire">Propriétaire :{{ username }} </div>
                </div>

                <div class="col-md-4  mb-0">
                  <div for="dateOuv">Date d'ouverture : {{ "now"|date("m/d/Y") }}</div>
                </div>
            </div> 

          <div class="form-row" id="sectionNote">
                <div class="col-md-10  mb-0">
                <h3>Note</h3>
                  <label for="note">Note</label>
                  <textarea class="form-control" id="note"  name="note" rows="6" value="" placeholder=""
                    required>{{ ticket.note }}</textarea>
                    <div class="invalid-feedback">
                      Note.
                    </div>
                </div>

      </form>
    </div>
  </div>
{% endblock %}
